*{
     margin: 0;
     padding: 0;
}

body {
     width: 100%;
     height: 100%;
}

body, html {
     font-family: Arial, Helvetica, sans-serif;
}

header {
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 70px;
     background-color: #ddd;
     display: grid;
     grid-template-columns: 1fr;
 }

.nav {
    background: #ddd;
    position: absolute;
    right: 0;
    box-shadow: 0 0 3em rgba(0, 0, 0, .15);
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    padding: 1.5em 3em;
}

.nav-item {
    margin-bottom: 3em;
}
.nav-link {
    text-decoration: underline;
}

.nav-link:hover {
    background-color: #777;
    width: 100%;
    text-decoration: underline;
    color: #ddd;
}

.nav-toggle {
    position: absolute;
    top: 1.2em;
    left: 0;
    transform: translateX(-100%);
    background: #777;
    padding: 1em .25em;
    border: 0;
    border-radius: .25em 0 0 .25em;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    background: #ccc;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .hamburger {
    transform: rotate(45deg);
}

.nav-open .hamburger::before {
    opacity: 0;
}

.nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
}

.active {
     margin: 20px;
     color: #777;
 }
 

main {
    display: block;
    margin: 50px;
} 

aside img {
     display: block;
     width: 100%;
     margin-top: 0;
     margin-top: 100px;
     margin-bottom: 10px;
     border-radius: 50%;
     box-shadow: 1px 1px 20px 1px;
} 

article {
    display: block;
    
} 

.name {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

h1 {
    background-color: #c3e2a6;
    color: #0a0a0a;
    padding: 10px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

#head {
    color: #008000;
}

h3, h4 {
    margin: 10px;
}

h5 {
    text-align: center;
    margin: 10px;
}

.main-docs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.main-docs img {
    border: 1px solid #000;
    margin: 10px;
}

.skills {
    display: block;
    width: 100%;
    margin: 20px;
}


.arc {
    display: block;
    width: 75%;
    padding: 10px;
    margin: 5px;
    background-color: #c6e299;
}

.csc {
    display: block;
    width: 75%;
    padding: 10px;
    margin: 5px;
    background-color: #4be7a6;
}

.edu {
    display: block;
    width: 75%;
    padding: 10px;
    margin: 5px;
    background-color: #4bbbe7;
}

#clock {
    color: #0000ff;
    text-align: center;
}

#date {
    text-align: center;
    margin-left: 25%;
    width: 50%;
}

#user {
    color: #008000;
    font-size: 20px;
    text-align: center;
}

#btn {
    background-color: #ddf5dd;
    font-weight: bold;
    color: #008000;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

/*.res-work {
    width: 100%;
    padding: 20px
    margin-left: 5%;
    background-color: #000;
    font-size: 2em;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}*/

.art-head {
    margin-top: 50px;
    text-align: center;
}

.author {
    color: #008000;
    
    text-align: center;
}

.conti {
    color: #ff0000;
}

.abstract {
    text-align: center;
}

.keywords {
    margin-top: 20px;
    text-align: center;
}

[src="images/reflayout.jpg"], [src="images/refprods.jpg"] {
    width: 100%;
    margin: 10px;
}

.img-title {
    text-align: center;
    margin-bottom: 15px;
}

.container-com {
    width: 100%;
    margin: 5%;
    padding: 15px 10px;
    margin-top: 15px;
    /*border: 1px solid #ccc;*/
}

.container-com h3 {
    text-align: center;
    margin-bottom: 15px;
}

input {
    width: 75%;
    margin: 5%;
}

textarea {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
}

/*.btn {
    display: none;
}*/

footer {
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}

@media screen and (min-width: 578px) {
    h1 {
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }
    
    aside img {
        display: block;
        width: 35%;
        margin-left: 33%;
        border-radius: 50%;
       } 
   .mb {
       width: 100%;
      }

   .main-docs img {
       width: 50%;
       margin-left: 25%;
      }

    .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    [src="images/reflayout.jpg"], [src="images/refprods.jpg"] {
        width: 50%;
        margin-left: 25%;
    }

    .container-com {
        width: 75%;
        margin-left: 12%;
    }
}